@import 'vars.scss';

html{
  height: 100%;
}
body {
  font: 12px/18px "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  min-height: 100%;
  height: 100%;
  background: #f5f5f5;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.blue {
  color: $blue;
}
.red {
  color: $red;
}
.green {
  color: $green;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.container {
  width: $container_width;
}

.m-l-lg {
  margin-left: 20px;
}
.m-l-xlg {
  margin-left: 40px;
}
.m-l {
  margin-left: 10px;
}
.m-l-sm {
  margin-left: 5px;
}
.m-r-lg {
  margin-right: 20px;
}
.m-r {
  margin-right: 10px;
}
.m-r-sm {
  margin-right: 5px;
}
.m-t-lg {
  margin-top: 20px;
}
.m-t-xlg {
  margin-top: 40px;
}
.m-t {
  margin-top: 10px;
}
.m-t-sm {
  margin-top: 5px;
}
.m-b-lg {
  margin-bottom: 20px;
}
.m-b {
  margin-bottom: 10px;
}
.m-b-sm {
  margin-bottom: 5px;
}
.m-b-xlg {
  margin-bottom: 40px;
}

.m-a {
  margin: 10px;
}

.p-r {
  padding-right: 10px;
}
.p-r-sm {
  padding-right: 5px;
}

.p-l {
  padding-left: 10px;
}
.p-l-sm {
  padding-left: 5px;
}
.p-b-sm {
  padding-bottom: 5px;
}
.p-b {
  padding-bottom: 10px;
}
.p-l-lg {
  padding-left: 20px;
}
.p-l-xlg {
  padding-left: 40px;
}

.p-t {
  padding-top: 10px;
}
.p-t-lg {
  padding-top: 10px;
}
.p-t-xlg {
  padding-top: 40px;
}
.p-t-sm {
  padding-top: 5px;
}

.p-a {
  padding: 10px;
}

/*breadcrumb & the line*/

.fr {
  float: right;
}
.fl {
  float: left;
}
.full-height {
  height: 100%;
  overflow-y: hidden;
}
.aside {
  height: 100%;
  padding: 0 10px 10px;
  overflow-y: hidden;

  .el-form-item--small.el-form-item {
    margin-bottom: 0;
  }

  .el-tabs__nav {
    width: 100%;
  }

  .el-tabs--border-card {
    background: transparent;
    border: none;
  }

  .el-tabs__header {
    background-color: transparent;
    border-bottom: none;
  }

  .el-tabs {
    height: 100%;
    background: rgba(255, 255, 255, .2);
  }

  .el-tabs__content {
    height: 100%;
    padding: 0;
  }
  &.two {
    .el-tabs--border-card>.el-tabs__header .el-tabs__item {
      border: none;
      width: calc(100% / 2);
      padding: 0;
      text-align: center;
      color: #d8d4d4;
      margin: 0;
      background: #3d4650;
    }
  }
  .el-tabs--border-card>.el-tabs__header .el-tabs__item {
    border: none;
    width: calc(100% / 3);
    padding: 0;
    text-align: center;
    color: #d8d4d4;
    margin: 0;
    background: #3d4650;
  }

  .el-tabs--border-card.alone>.el-tabs__header .el-tabs__item {
    width: 100%;
  }

  .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
    background-color: rgba(255, 255, 255, .2);
    border: none;
    color: #fff;
  }
}

.el-notification.top-right-msg {
  right: 320px;
  width: 250px;
}

.el-notification.top-right-msg {
  p {
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.el-carousel.announcement-popup .el-carousel__button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
}

.pointer {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed;
}

@mixin scrollbars($size, $foreground-color, $round, $background-color: rgba(0, 0, 0, .3)) {
  ::-webkit-scrollbar {
    width:  $size;
    height: $size;
    border-radius: $round;
  }

  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: $round;
  }

  ::-webkit-scrollbar-track {
    background: $background-color;
    border-radius: $round;
  }

}
@include scrollbars(10px, #666, 10px);


.init-dialog {
  .el-dialog__header, .el-dialog__body {
    padding: 0;
  }
  .el-main {
    padding: 0;
  }
}
